
body {
  background-color: #992200;
  color: white;
}

body h1 {
  text-align: center;
}

main {
  height: 80vh;
  margin: 0 auto;
  display: flex;
  width: min-content;
}

#tetris-grid {
  height: 100%;
  aspect-ratio: 1;
  background-color: #FA7;
  border: 3px dotted #F20;
}

.cell {
  border: 1px dotted #F20;
  background-color: #FA7;
  aspect-ratio: 1;
}

.end-overlay {
  background-color: #500;
  opacity: 0.85;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
  width: 400px;
  height: 200px;
  z-index: 5;
  border: white solid 3px;
  text-align: center;
}
.end-overlay * {
  text-align: center;
  margin: 0 auto;
}
.end-overlay button {
  background-color: inherit;
  color: inherit;
  border: white solid 2px;
  margin-top: 10px;
}

#right-bar, #left-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  padding: 10px;
}
#left-bar {
  transform: translate(calc(-100% - 5px), 0);
  padding: 5px;
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#red-box {
  background-color: #800;
  border: black solid 2px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
}

#scores {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.user-score {
  margin: 1px;
  font-size: 15px;
  text-align: right;
}
#left-bar input {
  background-color: #B30;
  color: white;
  border: black solid 1px;
}
#left-bar input::placeholder {
  color: #FD8;
  text-align: center;
}
